<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'MAT_TABLE.FILTER' | translate }}">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="categoryName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CATEGORY.NAME' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.categoryName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CATEGORY.ACTIVE' | translate }} </mat-header-cell>
      <mat-cell class='button-cell' *matCellDef="let element; let rowIndex=index">
          <mat-checkbox (change)='onActiveChange(element, rowIndex)' [(ngModel)]='element.active' color='primary'></mat-checkbox>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>

  <mat-form-field class='new-category-field'>
    <input matInput placeholder="Nowa kategoria" [(ngModel)]='newCategoryName'>
  </mat-form-field>

</div>
<div class="buttons">
  <button mat-button color='primery'type="button" (click)='onReturnClick()'>{{ 'FORM.RETURN' | translate }} </button>
  <button mat-button mat-raised-button color='primary' [disabled]="!wasFormChanged()" (click)="sumbitCategories()">{{ 'FORM.SUBMIT' | translate}}</button>
</div>

