<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'MAT_TABLE.FILTER' | translate }}">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="login">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.LOGIN' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.login}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.NAME' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.SURNAME' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.surname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.EMAIL' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.PHONE' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.COUNTRY' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.CITY' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="street">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.STREET' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.street}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="streetNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.STREET_NUMBER' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.streetNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="flatNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.FLAT_NUMBER' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.flatNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="postalCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.POSTAL_CODE' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.postalCode}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell class='button-cell' *matHeaderCellDef>{{ 'ACCOUNT.EDIT' | translate }} </mat-header-cell>
      <mat-cell class='button-cell' *matCellDef="let element">
        <button mat-button (click)='onEditClick(element)'>{{'ACCOUNT.EDIT'| translate }}</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="changePassword">
      <mat-header-cell class='button-cell' *matHeaderCellDef>{{ 'ACCOUNT.CHANGE_OF_PASSWORD' | translate }} </mat-header-cell>
      <mat-cell class='button-cell' *matCellDef="let element">
        <button mat-button (click)='onChangePasswordClick(element)'>{{'ACCOUNT.CHANGE_OF_PASSWORD'| translate }}</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
    <mat-row *matRowDef="let row; columns: getDisplayedColumns();"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
