<mat-sidenav-container class="nav-container" (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose (openedChange)='onSidenavOpenedChange()'>
    <p>
      <button mat-button mat-raised-button color='primary' (click)="sidenav.close()">
        < </button>
    </p>
    <h2 *ngIf='hasRole(UserRole) || hasRole(AdminRole) || hasRole(ManagerRole) || hasRole(VirtualRole)' class="example-h2">{{ "HOME.WELCOME" | translate }}, {{ userIdentity.login }}</h2>
    <p *ngIf='hasRole(UserRole) || hasRole(AdminRole) || hasRole(ManagerRole)' class="example-p">{{ "HOME.USER_ROLES" | translate }}: {{ rolesStringified | translate }}</p>
    <p *ngIf='hasRole(VirtualRole)' class="example-p">{{ "SIDE_NAV.ACTIVATE_ACCOUNT" | translate }}</p>
    <p>{{ displayedRouter }}</p>
    <p>
      <button mat-button routerLink='/main'>{{ "SIDE_NAV.MAIN_PAGE" | translate }}</button>
    </p>

    <p>
      <button mat-button routerLink='/register' *ngIf='hasRole(GuestRole)'>{{ "SIDE_NAV.REGISTER" | translate }}</button>
    </p>

    <p>
      <button mat-button routerLink='/login' *ngIf='hasRole(GuestRole)'>{{ "SIDE_NAV.LOGIN" | translate }}</button>
    </p>

    <p>
      <button mat-button routerLink='/accounts' *ngIf='hasRole(AdminRole) || hasRole(ManagerRole)'>{{ "SIDE_NAV.ACCOUNTS" | translate }}</button>
    </p>

    <p>
      <button mat-button routerLink='/statistics' *ngIf='hasRole(AdminRole) || hasRole(ManagerRole)'>{{ "SIDE_NAV.STATISTICS" | translate }}</button>
    </p>

    <p>
      <button mat-button routerLink='/myAccount' *ngIf='hasRole(UserRole) || hasRole(AdminRole) || hasRole(ManagerRole)'>{{ "SIDE_NAV.MY_ACCOUNT" | translate }}</button>
    </p>

    <p>
      <button mat-button routerLink='/changeMyPassword' *ngIf='hasRole(UserRole) || hasRole(AdminRole) || hasRole(ManagerRole)'>{{ "SIDE_NAV.CHANGE_MY_PASSWORD" | translate }}</button>
    </p>

    <p>
      <button mat-button routerLink='/register' *ngIf='hasRole(AdminRole)'>{{ "SIDE_NAV.CREATE_ACCOUNT" | translate }}</button>
    </p>

    <p>
      <button mat-button routerLink='/products' *ngIf='hasRole(AdminRole) || hasRole(ManagerRole) || hasRole(UserRole)'>{{ "SIDE_NAV.PRODUCTS" | translate }}</button>
    </p>

    <p>
      <button mat-button routerLink='/myProducts' *ngIf='hasRole(UserRole)'>{{ "SIDE_NAV.MY_PRODUCTS" | translate }}</button>
    </p>

    <p>
      <button mat-button routerLink='/orders' *ngIf='hasRole(AdminRole)'>{{ "SIDE_NAV.ALL_ORDERS" | translate }}</button>
    </p>

    <p>
      <button mat-button routerLink='/categories' *ngIf='hasRole(ManagerRole)'>{{ "SIDE_NAV.ALL_CATEGORIES" | translate }}</button>
    </p>

    <p>
        <button mat-button routerLink='/ownOrders' *ngIf='hasRole(UserRole)'>{{ "SIDE_NAV.MY_ORDERS" | translate }}</button>
    </p>

    <p>
      <button mat-button routerLink='/shippingMethods' *ngIf='hasRole(ManagerRole)'>{{ "SIDE_NAV.SHIPPING_METHODS" | translate }}</button>
    </p>

    <p>
      <button mat-button routerLink='/addShippingMethod' *ngIf='hasRole(ManagerRole)'>{{ "SIDE_NAV.ADD_SHIPPING_METHOD" | translate }}</button>
    </p>

    <p>
      <button mat-button (click)='onLogoutClick()' *ngIf='hasRole(UserRole) || hasRole(AdminRole) || hasRole(ManagerRole) || hasRole(VirtualRole)'>{{ "SIDE_NAV.LOGOUT" | translate }}</button>
    </p>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <button mat-button mat-raised-button color='primary' (click)="sidenav.open()">></button>
    </p>
    <app-notifications></app-notifications>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
