<form [formGroup]='form'>
  <mat-card>
    <mat-card-title>{{ "PASSWORD.CHANGE_PASSWORD" | translate }}</mat-card-title>
    <mat-card-content>

      <mat-form-field>
        <input matInput type="password" [placeholder]="'PASSWORD.OLD_PASSWORD' | translate" formControlName='oldPassword' required>
      </mat-form-field>
      <div class="errors-space" *ngIf="isRequiredSatisfied('oldPassword')">
        {{ "FORM.FIELD_REQUIRED" | translate }}
      </div>

      <mat-form-field>
        <input matInput type="password" [placeholder]="'PASSWORD.NEW_PASSWORD' | translate" formControlName='firstPassword' required>
      </mat-form-field>
      <div class="errors-space" *ngIf="isRequiredSatisfied('firstPassword')">
        {{ "FORM.FIELD_REQUIRED" | translate }}
      </div>

      <mat-form-field>
        <input matInput type="password" [placeholder]="'PASSWORD.CONFIRM_NEW_PASSWORD' | translate" formControlName='secondPassword' required>
      </mat-form-field>
      <div class="errors-space" *ngIf="isRequiredSatisfied('secondPassword')">
        {{ "FORM.FIELD_REQUIRED" | translate }}
      </div>

    </mat-card-content>
  </mat-card>

  <div class="buttons">
    <button mat-button color='primary' type="button" (click)='onReturnClick()'>{{ "FORM.RETURN" | translate }}</button>
    <button mat-button mat-raised-button color='primary' (click)='sendForm()'>{{ "FORM.SUBMIT" | translate }}</button>
  </div>

</form>
