<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field class='filter-form-field'>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'MAT_TABLE.FILTER' | translate }}">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="login">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.LOGIN' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.login}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastLoginDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.LAST_LOGIN_DATE' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastLoginDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastLoginIp">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.LAST_LOGIN_IP' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastLoginIp}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numberOfLogins">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.NUM_OF_LOGINS' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.numberOfLogins}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numberOfOrders">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.NUM_OF_ORDERS' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.numberOfOrders}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numberOfProducts">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ACCOUNT.NUM_OF_PRODUCTS' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.numberOfProducts}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="confirmAccount">
      <mat-header-cell class='button-cell' *matHeaderCellDef> {{ 'ACCOUNT.CONFIRM' | translate }} </mat-header-cell>
      <mat-cell class='button-cell' *matCellDef="let element; let rowIndex=index">
        <mat-checkbox (change)='onAccountChange(element, rowIndex)' [(ngModel)]='element.confirm' color='primary'></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lockOrUnlockAccount">
      <mat-header-cell class='button-cell' *matHeaderCellDef> {{ 'ACCOUNT.ACTIVE' | translate }} </mat-header-cell>
      <mat-cell class='button-cell' *matCellDef="let element; let rowIndex=index">
        <mat-checkbox (change)='onAccountChange(element, rowIndex)' [(ngModel)]='element.active' color='primary'></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="accessLevel">
      <mat-header-cell class='button-cell' *matHeaderCellDef> {{ 'ACCOUNT.ACCESS_LEVELS' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element; let rowIndex=index">
          <mat-select [(ngModel)]='element.roles' placeholder="Roles" (change)='onAccountChange(element, rowIndex)' multiple>
              <mat-option *ngFor='let role of avaliableRoles' [value]='role.value' >{{ role.displayedValue | translate }} </mat-option>
          </mat-select>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
    <mat-row *matRowDef="let row; let rowId=index; columns: getDisplayedColumns();" [ngClass]='{ "highlited-row" : wasRowChanged(rowId) }'></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>

</div>
<div class="buttons">
    <button mat-button color='primery'>{{ 'FORM.RETURN' | translate }} </button>
    <button mat-button mat-raised-button color='primary' (click)='submitAccounts()'>{{ 'FORM.SUBMIT' | translate}}</button>
</div>