:host {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 1500px;
  margin: 0 auto;
}

.example-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.highlited-row {
  background: #eaf2ff;
  transition: background-color 1s;
}

mat-row {
  transition: background-color 1s;
}

.filter-form-field {
  display: block;
  width: 95%;
  margin: 10px auto;
}

mat-header-cell,
mat-cell {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

mat-checkbox {
  display: block;
  padding-bottom: 0;
}

mat-checkbox /deep/ label {
  margin: 0;
}

mat-option /deep/ .mat-pseudo-checkbox-checked {
  background: #3f51b5;
}

div.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

div.buttons > button {
  margin-left: 10px;
  margin-top: 10px;
}