<div class="error-container">

  <div *ngIf="data?.error">
    <h1>{{ "ERROR.ERROR" | translate }} {{ data?.error}}</h1>
    <h5 *ngIf="data?.error === 404">{{ "ERROR.NOT_FOUND" | translate }}</h5>
    <button mat-button
      mat-raised-button
       color='primary'
       [routerLink]="'/main'">
      <h5>{{ "ERROR.GO_BACK_HOME" | translate }}</h5>
    </button>
  </div>

  <div *ngIf="routeParams.message">
    <h1 *ngIf="routeParams?.status"> {{ "ERROR.ERROR" | translate }} {{ routeParams?.status }}</h1><br/>
    <h3 *ngIf="routeParams?.statusText">{{ routeParams?.statusText | translate }}</h3><br/>

    <button mat-button mat-raised-button color='primary'
       routerLink="/">
      <h5>{{ "ERROR.GO_BACK_HOME" | translate }}</h5>
    </button>
  </div>

  <div *ngIf="!routeParams && !data">
    <h1>{{ "ERROR.UNKNOWN_ERROR" | translate }}</h1>
    <button mat-button
      mat-raised-button
       color='primary'
       [routerLink]="'/main'">
      <h5>{{ "ERROR.GO_BACK_HOME" | translate }}</h5>
    </button>
  </div>
</div>
