<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!-- definicja ról uwzględnianych w kontroli dostępu -->
    <security-role>
        <description/>
        <role-name>USER</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>MANAGER</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>ADMIN</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>VIRTUAL</role-name>
    </security-role>
        
    <!-- kontrola dostepu aplikacji -->
    <security-constraint>
        <display-name>ApplicationConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Appication</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>EditMyAccountConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>EditMyAccount</web-resource-name>
            <url-pattern>/webresources/account/myAccountToEdit</url-pattern>
            <url-pattern>/webresources/account/updateMyAccount</url-pattern>
            <url-pattern>/webresources/account/changeMyPassword</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>USER</role-name>
            <role-name>MANAGER</role-name>
            <role-name>ADMIN</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>GetAllAccountsConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>GetAllAccounts</web-resource-name>
            <url-pattern>/webresources/account/</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>MANAGER</role-name>
            <role-name>ADMIN</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>EditOtherAccountsConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>EditOtherAccount</web-resource-name>
            <url-pattern>/webresources/account/updateAccount</url-pattern>
            <url-pattern>/webresources/account/changeOthersPassword</url-pattern>
            <url-pattern>/webresources/account/alterAccountAccessLevel</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ADMIN</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>LockUnlockComfirmOtherAccountConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>LockUnlockOtherAccount</web-resource-name>            
            <url-pattern>/webresources/account/lockAccount</url-pattern>
            <url-pattern>/webresources/account/unlockAccount</url-pattern>
            <url-pattern>/webresources/account/confirmAccount</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>MANAGER</role-name>
            <role-name>ADMIN</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>GetAccesLevelsByAccountConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>GetAccesLevelsByAccount</web-resource-name>            
            <url-pattern>/webresources/account/allAccessLevel</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>MANAGER</role-name>
            <role-name>ADMIN</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <!-- MOP -->
    <security-constraint>
        <display-name>getAllProducts</display-name>
        <web-resource-collection>
            <web-resource-name>getAllProducts</web-resource-name>            
            <url-pattern>/webresources/product/</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>MANAGER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>getAllCategories</display-name>
        <web-resource-collection>
            <web-resource-name>getAllCategories</web-resource-name>            
            <url-pattern>/webresources/category/</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>MANAGER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>getAllUnits</display-name>
        <web-resource-collection>
            <web-resource-name>getAllCategories</web-resource-name>            
            <url-pattern>/webresources/unit/</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>MANAGER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>getMyProducts</display-name>
        <web-resource-collection>
            <web-resource-name>getMyProducts</web-resource-name>            
            <url-pattern>/webresources/product/myProducts</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>USER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>   
    <security-constraint>
        <display-name>productToEdit</display-name>
        <web-resource-collection>
            <web-resource-name>productToEdit</web-resource-name>            
            <url-pattern>/webresources/product/productToEdit</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>USER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>editProduct</display-name>
        <web-resource-collection>
            <web-resource-name>editProduct</web-resource-name>            
            <url-pattern>/webresources/product/editProduct</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>USER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>getAllActiveProductWithActiveCategory</display-name>
        <web-resource-collection>
            <web-resource-name>getAllActiveProductWithActiveCategory</web-resource-name>            
            <url-pattern>/webresources/product/activeProducts</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>USER</role-name>
            <role-name>MANAGER</role-name>
            <role-name>ADMIN</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>addProduct</display-name>
        <web-resource-collection>
            <web-resource-name>addProduct</web-resource-name>            
            <url-pattern>/webresources/product/addProduct</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>USER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>activeProduct</display-name>
        <web-resource-collection>
            <web-resource-name>activeProduct</web-resource-name>            
            <url-pattern>/webresources/product/activeProduct</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>USER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>deactiveProduct</display-name>
        <web-resource-collection>
            <web-resource-name>deactiveProduct</web-resource-name>            
            <url-pattern>/webresources/product/deactiveProduct</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>USER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>deleteProduct</display-name>
        <web-resource-collection>
            <web-resource-name>deleteProduct</web-resource-name>            
            <url-pattern>/webresources/product/deleteProduct</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>USER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <!-- MOZ -->
    <security-constraint>
        <display-name>addShippingMethod</display-name>
        <web-resource-collection>
            <web-resource-name>addShippingMethod</web-resource-name>            
            <url-pattern>/webresources/shipping/addShippingMethod</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>MANAGER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>    
    <security-constraint>
        <display-name>getAllShippingMethod</display-name>
        <web-resource-collection>
            <web-resource-name>getAllShippingMethod</web-resource-name>            
            <url-pattern>/webresources/shipping</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>MANAGER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint> 
    <security-constraint>
        <display-name>addShippingMethod</display-name>
        <web-resource-collection>
            <web-resource-name>getAllShippingMethod</web-resource-name>            
            <url-pattern>/webresources/shipping/activate</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>MANAGER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>getAllOrderStatus</display-name>
        <web-resource-collection>
            <web-resource-name>getAllOrderStatus</web-resource-name>            
            <url-pattern>/webresources/order/orderStatus</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>MANAGER</role-name>
            <role-name>USER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>getAllOrders</display-name>
        <web-resource-collection>
            <web-resource-name>getAllOrders</web-resource-name>            
            <url-pattern>/webresources/order</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>MANAGER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>getMyBought</display-name>
        <web-resource-collection>
            <web-resource-name>getMyBought</web-resource-name>            
            <url-pattern>/webresources/order/myBought</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>USER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>getMySold</display-name>
        <web-resource-collection>
            <web-resource-name>getMySold</web-resource-name>            
            <url-pattern>/webresources/order/mySold</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>USER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>getAllShippingMethod</display-name>
        <web-resource-collection>
            <web-resource-name>getAllShippingMethod</web-resource-name>            
            <url-pattern>/webresources/shipping</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>MANAGER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>makeOrder</display-name>
        <web-resource-collection>
            <web-resource-name>makeOrder</web-resource-name>            
            <url-pattern>/webresources/order/makeOrder</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>USER</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    
    <!-- definicja metody logowania -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>ssbd01realm</realm-name>
    </login-config>  
    
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error/error.xhtml</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/error/403.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/500.xhtml</location>
    </error-page>
</web-app>
