.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    width: 1200px;
    margin: 0 auto;
  }

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  mat-cell {
    text-align: center;
  }

  mat-header-cell {
    text-align: center;
  }

  .button-cell {
    flex: 1.5;
  }

  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }

  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
